<div id="errorMessage" class="text-danger"></div>
<div id="loading-spinner" style="display: none;" data-i18n-key="loading">
    Loading...
</div>
<div class="container-fluid px-4">
    <h1 class="mt-4" data-i18n-key="rootPanel">Root-panel</h1>
    <h2 class="visibleByRole mt-4" id="admins" data-i18n-key="admins">Administrators</h2>
    <div class="card mb-4">
        <div class="card-header" >
            <i class="fas fa-address-card me-1"></i>
            <span data-i18n-key="usersList">List of users and roles</span>
        </div>
        <div class="card-body">
            <div id="smtp-errorMessage" class="text-danger"></div>
            <div id="smtp-loading-spinner" style="display: none;" data-i18n-key="loading">
                Loading...
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th data-i18n-key="userName">Username</th>
                        <th data-i18n-key="role">Role</th>
                        <th data-i18n-key="roleRights">Log Permissions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="admin-form">
                        <td class="form-group">
                            <input type="text" class="form-control" name="newusername"
                                aria-describedby="emailHelp" placeholder="example : newuser@retzo.net" data-i18n-key="emailHelp">
                            <input type="text" class="form-control" name="newpassword"
                                placeholder="Pa$$w0rd" data-i18n-key="passwordHelp">
                        </td>
                        <td class="form-group">
                            <select type="text" class="form-control" name="newrole">
                        </td>
                        <td class="form-group">
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary"><i class="fas fa-user-plus me-1" ></i><span data-i18n-key="add">Add</span></button>
                        </td>
                    </tr>
                </tbody>
                <tbody id="admin-list">
                    <!-- This will be automatically filled -->
                </tbody>
            </table>
        </div>
    </div>
</div>
